@using MagicCardTracker.Pwa.Components
@inherits LayoutComponentBase

<div class="h-screen flex flex-col">
    <NavMenu />
    <DialogContainer />

    <div id="scrollContext" class="grow overflow-auto">
        <div class="min-h-full p-4">
            @Body
        </div>
        <Footer />
    </div>
</div>