@page "/profile"
@using Commands
@using MediatR;
@using System.Threading;
@using Models
@using Queries
@implements IDisposable
@inject IMediator _mediator;


<div class="row">
    <div class="col-6">
        <div class="content bg-elevated d-flex flex-column">
            <label class="lead">
                Statistics
            </label>
            <label class="color-white-60">
                Most valuable card 
            </label>
            @if(_collectionStatistic?.MostValuableCard != null)
            {
                <img class="magic-card thumbnail mx-auto" src="@_collectionStatistic.MostValuableCard.ImageUrl">
            }
        </div>
    </div>
    <div class="col-6">
        <div class="content bg-elevated d-flex flex-column">
            <label class="lead">
                Your collection
            </label>
            <label class="color-white-60"> Number of cards in collection: <span class="float-right">@_collectionStatistic?.NumberOfCardsCollected</span></label>
            <label class="color-white-60"> Number of unique cards in collection: <span class="float-right">@_collectionStatistic?.NumberOfUniqueCardsCollected</span></label>
            <label class="color-white-60"> Total collection value in EUR: <span class="float-right">@_collectionStatistic?.CollectionValueInEuros €</span></label>
            <label class="color-white-60"> Total collection value in USD: <span class="float-right">@_collectionStatistic?.CollectionValueInDollars $</span></label>
        </div>
        <div class="mt-2 content bg-elevated d-flex flex-column">
            <div class="lead">
                Data management
            </div>
            <button class="mt-2 btn btn-primary" @onclick="@ExportLibraryAsync">Export Library</button>

            <label class="mt-2 btn btn-primary">
                <InputFile OnChange="@ImportLibraryAsync" accept=".json" hidden></InputFile>
                Import Library
            </label>
            
        </div>
    </div>
</div>

@code 
{
    private CancellationTokenSource _cts = new CancellationTokenSource();

    private bool _isLoading;

    private CollectionStatistic _collectionStatistic;

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    protected override Task OnInitializedAsync()
    {
        return LoadCollectionAsync();
    }

    private async Task LoadCollectionAsync()
    {
        _isLoading = true;
        _collectionStatistic = await _mediator.Send(new GetCollectionStatistic(), _cts.Token);
        _isLoading = false;
    }

    private async Task ImportLibraryAsync(InputFileChangeEventArgs e)
    {
        using (var libraryStream = e.File.OpenReadStream())
        {
            await _mediator.Send(new ImportLibraryCommand(libraryStream), _cts.Token);
            await LoadCollectionAsync();
        }
    }

    private Task ExportLibraryAsync()
    {
        return _mediator.Send(new ExportLibraryCommand(), _cts.Token);
    }
}