@using Contracts
@inject IDialogService _dialogService

@if (Cards != null && Cards.Any())
{
    <div class="grid grid-cols-5 gap-4">
    @foreach (var card in Cards)
    {   
        <img class="rounded-2xl cursor-pointer" src="@(card.ImageUrl)" @onclick="() => OpenDetails(card)" />
    }
    </div>
} 
else
{
    @ChildContent
}

@code
{
    [Parameter]
    public IEnumerable<Card>? Cards { get; set; }

    [Parameter]
    public bool ShowCountBadge { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void OpenDetails(Card card)
    {
        _dialogService.ShowDialog<CardDetailsDialog>("Card", card);
    }
}