@using Contracts
@inject IUserSettings _settings

@if (Cards != null && Cards.Any())
{
    <div class="row">
    @foreach (var card in Cards)
    {   
        <div class="col-md-3 col-sm-4 col-6 mt-2 position-relative">
            @if (ShowCountBadge && card is CollectedCard collectableCard)
            {
                <div class="position-absolute top-0 start-50">

                    <div class="translate-middle d-flex">
                        <span class="badge rounded-pill bg-bad">
                            @collectableCard.TotalCount
                        </span>

                        <span class="ms-2 badge rounded-pill bg-good">
                            @collectableCard.Prices?.ToString(_settings.Currency, collectableCard.FoilCount > 0)
                        </span>
                    </div>
                </div>
            }
            <img class="magic-card" src="@(card.ImageUrl)"
        @onclick="@(async () => await OpenDetailsAsync(card))" />
        </div>
    }
    </div>
} 
else
{
    @ChildContent
}

<CardOverlay @ref="_cardOverlay"></CardOverlay>

@code
{
    [Parameter]
    public IEnumerable<Card> Cards { get; set; }

    [Parameter]
    public bool ShowCountBadge { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private CardOverlay _cardOverlay;

    private Task OpenDetailsAsync(Card card)
    {
        return _cardOverlay.OpenAsync(card);
    }
}