
#notification-container {

    position: fixed;
    top: var(--navbarHeight);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1100;
}

.notification {

    animation: fadein .5s;
}

.notification.info {
    background-color: var(--successColor);
}

.notification.error {
    background-color: var(--primaryColor);
}

@keyframes fadein {

    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}