:root {

    --primaryColor: #F44336;
    --successColor: #649349;
    --backgroundColor: #1B1C22;
    --navbarHeight: 56px;
}

html, body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,0.87);
    background-color: var(--backgroundColor); 
}

body {
    overflow: hidden;
}

#scrollContext {
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-elevated {

    background-color: #25262c;
}

.bg-black80 {

    background-color: rgba(0, 0, 0, 0.8);
}

.bg-good {
    background-color: var(--successColor);
}

.bg-bad {
    background-color: var(--primaryColor);
}

.magic-card {

    height: auto;
    max-height: 50vh;
    max-width: 100%;
    border-radius: 5%;
    cursor: pointer;
}

.magic-card.large {
    max-height: 70vh;
}

.magic-card.small {

    max-height: 35vh;
}

.color-white-60
{
    color: rgba(255,255,255,0.6)
}

a, .btn-link, a:hover, .action-link {
    color: var(--primaryColor);
    text-decoration: none;
}

.action-link,
.selectable {
    cursor: pointer;
}

.color-primary {

    color: var(--primaryColor);
}

.btn-primary {
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-primary:hover {

    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-outline-primary {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.btn-outline-primary:hover {
    color: var(--primaryColor);
    background-color: transparent;
    border-color: var(--primaryColor);
}

.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin-top: var(--navbarHeight);
    flex-direction: column;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    align-items: center;
    z-index: 1010;
}

.loader img {

    width: 5vh;
    filter: invert(1);
    animation: turner 4s linear infinite;
}

@keyframes turner {
    from{  transform: rotateY(360deg)   }
    to  {  transform: rotateY(0deg) }
}

.form-control {

    background-color: transparent !important;
    box-shadow: none !important;
    color: white !important;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.form-check-input:checked {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.form-control:focus {
    border-color: var(--primaryColor);
}

.form-control::-webkit-input-placeholder{ 
    color: rgba(255,255,255,0.8) !important;
}

.content {
    padding: 1rem;
}

.rainbow-text {

    background: linear-gradient(53.13deg,#FFD33D 0,#FB8532 16.02%,#EA4A5A 28.06%,#8A63D2 56.92%,#2188FF 72.93%,#34D058 84%,#FFD33D 100%);
    background-clip: text;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s alternate infinite;
    background-size: 300%;
}

@keyframes shine {
    0% {
        background-position:200% center
    }
    62.8% {
        background-position:100% center
    }
    100% {
        background-position:200% center
    }
}
