@page "/search/{Query}"
@using Contracts
@using MagicCardTracker.Pwa.Components
@using System.Threading
@using MediatR
@using Queries
@inject IMediator _mediator
@implements IDisposable

<div class="row">
    <div class="col-12 lead d-flex justify-content-between">
        <span>Search results</span>
    </div>
</div>

<LoadingIndicator IsBusy=@_isLoading></LoadingIndicator>

@if (!_isLoading)
{
    <CardDisplay Cards="@_searchResult">
        <div class="color-white-60 text-center flex-grow-1 d-flex justify-content-center align-items-center lead">
            Phew... Sorry, there was no card that matches your search criteria
        </div>
    </CardDisplay>
}


@code {

    private CancellationTokenSource _cts = new CancellationTokenSource();

    private bool _isLoading;

    private IEnumerable<Card> _searchResult;

    [Parameter]
    public string Query { get; set; }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    protected override Task OnParametersSetAsync()
    {
        return SearchAsync();
    }

    private async Task SearchAsync()
    {
        _searchResult = null;

        if (string.IsNullOrWhiteSpace(Query))
        {
            return;
        }

        _isLoading = true;
        var searchResult = await _mediator.Send(new SearchCards(Query));
        _searchResult = searchResult.Cards;
        _isLoading = false;
    }
}
