@page "/privacy-policy"

<div class="lead">
    Magic Card Tracker Privacy Policy
</div>
<p class="mt-2 color-white-60">
    Magic Card Tracker is a companion application to keep track of your Magic Card collection. The
    application is written for personal use and will never be promoted, advertised or sold. 
    Consequently, we do not provide any garantee that this service will always be available or 
    does not break when you find the devil in the details.<br><br>
    Let's get one thing out of the way, the application is served to your client device and <u>does 
    not connect to our server afterwards</u>. We do not collect any information about you as a 
    person or the card information you are entering. Your collection information is stored on your 
    device using modern HTML storage technologies. For the sake of completeness, this privacy policy 
    will explain how the service is working and what common information we would be able to see you 
    when you are using our web application.
</p>

<label class="lead">What data do we collect?</label>
<p class="color-white-60">
None. As already mentioned above we do not store any of your information. Magic Card Tracker is a
Single Page Application that is served to your client device and executed locally. Once the 
application is transfered, no additional connections are made to our server. 
<br><br>
For the moment you are connecting to our server we might be able to see common connection 
information for any file your are requesting in the log stream, as this is part of the hosting of 
the application itself. However, this information is neither stored nor analyzed. 
This information might include
<ul class="color-white-60">
    <li>Your public IP address</li>
    <li>Your Operating System </li>
    <li>Your Browser, respectively the Browser's version</li>
</ul>
</p>

<label class="lead">Cookies / Local Storage</label>
<p class="color-white-60">
Cookies are text files placed on your computer to collect log information and behavior information. 
We <u>do not use those</u> kind of Cookies. 
<br><br>
Magic Card Tracker makes use of the Local Storage of your Browser to persist the information about 
collected cards, that you might enter. This information <u>is not transfered back to our server</u> and 
stays on your client device. 
<br><br>
For further information, visit <a href="https://en.wikipedia.org/wiki/Web_storage">Web storage,
from Wikipedia, the free encyclopedia</a>.
</p>

<label class="lead">How to manage Local Storage</label>
<p class="color-white-60">
    You can set your browser not to accept access to the Local Storage. However, as this is a 
    functional part of our application, you will not be able to store or recover information about 
    cards you have collected.
    <br><br>
    You can review the data that is stored by the application on your device by opening the 
    Browser's tools to manage the Local Storage. You will also have the ability to erase your data 
    from there. Please have in mind that perging the Local Storage will drop the collection 
    information that you have entered. As we do not receive any of these informations we won't be 
    able to recover your data. However, the application itself provides a simple functionality to 
    export and import your local storage into a file, that you can store yourself.
</p>

<label class="lead">Privacy policies of other websites</label>
<p class="color-white-60">
    Margic Card Tracker uses <a href="https://scryfall.com">Scryfall</a> to load information about 
    cards or sets your are searching for. Our privacy policy applies only to our web application, 
    so if you start searching for a card or browsing cards by set, you should read their 
    <a href="https://scryfall.com/docs/privacy">privacy policy.</a>
    <br><br>
    Scryfall has neither endorsed us nor Magic Card Tracker.
</p>

<label class="lead">Changes to our privacy policy</label>
<p class="color-white-60">
Magic Card Tracker keeps its privacy policy under regular review and places any updates on 
this web page. This privacy policy was last updated on 16th of August 2021.
</p>

<label class="lead">How to contact us</label>
<p class="color-white-60">
If you have any questions about Magic Card Tracker’s privacy policy, 
the data that is stored on your device, or if you feel that we have not addressed your concern in a 
satisfactory manner, please do not hesitate to contact us.
<br><br>
Email: <a href="mailto:webmaster@swilkes.net">webmaster@swilkes.net</a>
</p>
