
.set-icon {

    width: 40px;
    height: auto;
    filter: invert(1);
}

.progress {

    height: .5rem;
    background-color: var(--backgroundColor);
}

.progress-bar {
    background-color: var(--primaryColor);
}